@import bootstrap-sprockets
@import bootstrap
@import leaflet/leaflet
@import font-awesome
@import toastr/toastr.scss



footer
  margin-top: 40px
  border-top: 1px solid #ccc
.js-map
  border: 1px solid #ccc

