@import bootstrap-sprockets
@import bootswatch/cosmo/variables
@import bootstrap
@import bootswatch/cosmo/bootswatch
@import leaflet/leaflet
@import Leaflet.awesome-markers
@import font-awesome
@import toastr/toastr.scss



footer
  margin-top: 40px
  border-top: 1px solid #ccc
.js-map
  border: 1px solid #ccc

